# Extensiones
*.csv

*.xml
*.vscode

# Mis entornos de python
venv_*/

# Configuraciones
desktop.ini
.directory

# Archivos especificos


# Directorios especificos
other/keys
other/octo-data.octo-print.json

other/BULK
docker_containers/*
!docker_containers/*.yml
!docker_containers/Dockerfile*


