# Extensiones
*.csv
*.xml
*.vscode

# Mis entornos de python
venv_*/

# Configuraciones
desktop.ini
.directory

#Fichero y directorios
data_test/octo-data.octo-print.json
data_test/chunks

docker_containers/*
docker_containers/node-red/octoprintapi
!docker_containers/*.yml
!docker_containers/Dockerfile*
!docker_containers/node-red/images



